Flask==2.3.2
gunicorn==22.0.0
cloudevents==1.9.0
google-cloud-storage==2.14.0
google-cloud-aiplatform==1.42.1
langchain==0.1.0
langchain-google-vertexai==0.0.6
pypdf==3.17.0
cryptography==44.0.1
transformers==4.36.0
SQLAlchemy==2.0.21
pg8000==1.30.4
cloud-sql-python-connector[pg8000]==1.7.0
